<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="asee1">
  <xacro:include filename="$(find rus_panda_description)/robots/common/utils.xacro" />
  <xacro:include filename="franka_asee1.xacro"/>
  <xacro:franka_asee1 arm_id="panda" safety_distance="0.03"/>
</robot>
